@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-size: 20px;
    line-height: 1.5;
    background-color: rgb(217, 184, 248);
    font-family: "Oswald", sans-serif;
    color: rgb(165, 99, 228);
}

img{
    width: 500px;
}

a{
    color: #754b9c;
    text-decoration: none;